target/classes/process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd">
    <apikit:config name="process-api-config" api="resource::096484fd-dcfd-4f60-9f58-aecc0e2e110f:process-api:1.0.1:raml:zip:process-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="process-api-main">
        <http:listener path="/api/*" config-ref="main_http_listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="process-api-config" />
    </flow>
    <flow name="process-api-console">
        <http:listener path="/console/*" config-ref="main_http_listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="process-api-config" />
    </flow>
    <flow name="get:\verification:process-api-config">
        <sqs:receivemessages doc:name="Receive messages" doc:id="3978d710-5e25-4f63-a1f9-8c995e2d626f" config-ref="Amazon_SQS_Configuration" queueUrl="${secure::loan.Queue Url}" visibilityTimeout="1" />
        <logger level="INFO" doc:name="Logger" doc:id="d0e0d443-4c8c-4502-9dd5-3abccacc2b08" message="#[payload]" />
        <ee:transform doc:name="Transform Message" doc:id="8e5fb5ba-6473-415f-8a15-0ef8e3e29dd5">
            <ee:message>
                <ee:set-payload><![CDATA[output application/json
var payload1 = read(payload,"application/json")
---
payload1]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="f98e2f37-5031-4d3d-bf8a-a3d0aa7fc662" name="get-verification" />
    </flow>
    <flow name="post:\email:application\json:process-api-config">
        <logger level="INFO" message="post:\email:application\json:process-api-config" />
    </flow>
</mule>
